*~
.python-version
*.org_archive
*.log
*.tex
*.fls
*.fdb_latexmk
\#*\#
.#*
*.pdf
build/*
auxdir/*
ltximg/*
auto/*
_minted*
output/*

#WHITELIST
!build/.gitkeep
!output/.gitkeep
!output/examples/.gitkeep
!output/slides/.gitkeep
!output/outline/.gitkeep
!build/examples/.gitkeep
!build/slides/.gitkeep
!build/outline/.gitkeep
